body {
    background: linear-gradient(90deg, rgb(17, 19, 44), rgb(0, 155, 172));
    color: white;
    font-family: arial;
    font-weight: bold;
}

#messages {
    border: 2px solid white;
    height: 400px;
    width: 300px;
    overflow: auto;
    padding-left: 15px;
    box-shadow: 10px 10px 10px rgb(17, 19, 44);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
